# ignore any files beginning with .
\.*

# and any files in the cache directory
/evo-dev/assets/cache/*

# and the config file
/evo-dev/manager/includes/config.inc.php

# except do not ignore .gitignore
!.gitignore
